/*CSS Document*/
p {
	color: white;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-size: 16px;
	line-height: 18px;
	width: 600px;
	background-color: rgb(150, 150, 150);
	padding: 20px;
}

h1, h2, h3 {
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	color: rgb(125, 257, 0);
}

.pozadina {
	background-image: url(pozadinaa.JPG);
}

.navigacija li{float: left; }
a:link{

	color: white;
	background-color: rgb(150, 150, 150) ;
	padding: 20px;
	line-height: 40px;
	border: 1px solid #000000;
	margin: 5px;

}
a:hover{
	background-color: rgb(60, 179, 113);
	
}